

.vs/projeto-es/v16/.suo
projeto-es/bin/Debug/projeto-es.exe
projeto-es/bin/Debug/projeto-es.pdb
projeto-es/obj/Debug/DesignTimeResolveAssemblyReferences.cache
projeto-es/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
projeto-es/obj/Debug/projeto-es.csproj.CoreCompileInputs.cache
projeto-es/obj/Debug/projeto-es.csproj.GenerateResource.cache
projeto-es/obj/Debug/projeto-es.csprojAssemblyReference.cache
projeto-es/obj/Debug/projeto-es.exe
projeto-es/obj/Debug/projeto-es.pdb
