
.vs/projeto-es/v16/.suo
projeto-es/bin/Debug/projeto-es.exe
projeto-es/bin/Debug/projeto-es.pdb
projeto-es/obj/Debug/DesignTimeResolveAssemblyReferences.cache
projeto-es/obj/Debug/DesignTimeResolveAssemblyReferences.cache
projeto-es/obj/Debug/projeto-es.csprojAssemblyReference.cache
